$tablet-width: 768px;

@media (max-width: calc(768px)) {
  .app__main {
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: black;
    display: grid;
    grid-template-rows: 50% 50%;
    .main__textContainer {
      grid-row: 2 / 3;
      margin: 10px;
      display: grid;
      grid-template-rows: 20% 80%;
      justify-items: center;
      h1 {
        font-family: "Anton", sans-serif;
        font-size: 200%;
        margin: auto;
      }
      p {
        font-family: "Oswald", sans-serif;
        align-self: start;
        max-width: 85%;
        font-size: 100%;
      }
      h1,
      p {
        width: 100%;
        text-align: center;
        mix-blend-mode: difference;
      }
    }
    .main__photoContainer {
      grid-row: 1 / 2;
      display: flex;
      align-items: center;
      justify-items: center;
      img {
        position: relative;
        margin: auto;
        border-radius: 10px;
        max-height: 70vh;
        max-width: 60vw;
        border: 1px solid black;
        z-index: -1;
      }
    }
  }
}

@media (min-width: calc(768px + 1px)) {
  .app__main {
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    .main__textContainer {
      margin: 10px;
      display: grid;
      grid-template-rows: 30% 70%;
      justify-items: center;
      h1 {
        font-family: "Anton", sans-serif;
        font-size: 300%;
        margin: auto;
      }
      p {
        font-family: "Oswald", sans-serif;
        align-self: start;
        max-width: 85%;
        font-size: 160%;
      }
      h1,
      p {
        // border: 1px solid black;
        width: 100%;
        text-align: center;
      }
    }
    .main__photoContainer {
      display: flex;
      align-items: center;
      justify-items: center;
      img {
        position: relative;
        margin: auto;
        border-radius: 40px;
        max-height: 70vh;
        max-width: 40vw;
        z-index: -1;
      }
    }
  }
}
