.main__textContainer--contact {
  table {
    margin: 3rem auto;
    th {
      padding: 0.3em;
      text-align: left;

      font-size: 80%;
      a {
        text-decoration: none;
        color: black;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
.main__photoContainer--contact {
}
